<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin mt-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>

                    <form class="form-signin" #userLogin="ngForm" (ngSubmit)="onSubmit(userLogin.value)">
                        <div class="form-label-group">
                            <input type="email" class="form-control" ngModel name="email" placeholder="Email address"
                                required autofocus>
                            <label>Email address</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" ngModel name="password" class="form-control" placeholder="Password"
                                required>
                            <label>Password</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </form>
                </div>

            </div>
            <div class="text-center">
                <button type="button" (click)="GoToRegister()" class="btn btn-link">Register</button>
            </div>
        </div>

    </div>
</div>